# ─────────────────────────────────────────────────────────────────────────────
# Sphinx and theme
sphinx==7.3.7
sphinx-rtd-theme==3.0.2
numpydoc==1.6.0

# ─────────────────────────────────────────────────────────────────────────────
# Core scientific dependencies
numpy==1.23.5
scipy==1.10.1
matplotlib==3.7.1
astropy==5.3
PyYAML>=6.0
mpi4py==3.1.4
fast-pt==3.1.1
camb==1.5.0
fitsio

# ─────────────────────────────────────────────────────────────────────────────
# Your pip‑only packages
cobaya==3.3.1
deepdish==0.3.7
git+https://bitbucket.org/rangulo/baccoemu.git@7e0ca8b
BCemu==1.1
euclidemu2==1.2.1
pyhmcode==1.0.0
euclidlib==0.0.5

# ─────────────────────────────────────────────────────────────────────────────
# If you really want to autodoc your tests, pull in these too
cosmosis
cosmosis-build-standard-library
pytest-pydocstyle==2.3.2
qtvscodestyle
